@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject RoleManager<IdentityRole> RoleManager

@model IEnumerable<MyPal.Models.PublicEvents>
@{
    ViewData["Title"] = "Map View";
}

<!-- Map -->
<div id="map"></div>
<div id="radio-buttons">
    <h1 id="status">No Overlay</h1>
    <form name="level-selector">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="level" id="no-overlay" checked="checked" value="no overlay">
            <label class="form-check-label" for="no-overlay">
                No overlay
            </label>
        </div>

        <div class="form-check">
            <input class="form-check-input" type="radio" name="level" id="level -2" value="Level -2">
            <label class="form-check-label" for="level -2">
                Level -2 Parking
            </label>
        </div>

        <div class="form-check">
            <input class="form-check-input" type="radio" name="level" id="level -1" value="Level -1">
            <label class="form-check-label" for="level -1">
                Level -1
            </label>
        </div>

        <div class="form-check">
            <input class="form-check-input" type="radio" name="level" id="level 0" value="Level 0">
            <label class="form-check-label" for="level 0">
                Level 0
            </label>
        </div>

        <div class="form-check">
            <input class="form-check-input" type="radio" name="level" id="level 1" value="Level 1">
            <label class="form-check-label" for="level 1">
                Level 1
            </label>
        </div>
    </form>
</div>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Public Events List</h2>
        </div>
    </div>

    <!--Validation to check if the table has any content-->
    @if (Model.Count() > 0)
    {
        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Event Id
                    </th>

                    <th>
                        Event name
                    </th>

                    <th>
                        Event description
                    </th>

                    <th>
                        Start time
                    </th>

                    <th>
                        End time
                    </th>

                    <th>
                        Capacity
                    </th>

                    <th>
                        PinPoint id
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model)
                {
                    <tr>
                        <td width="30%">@obj.Id</td>
                        <td width="30%">@obj.Name</td>
                        <td width="40%">@obj.Description</td>
                        <td width="50%">@obj.StartTime</td>
                        <td width="50%">@obj.EndTime</td>
                        <td width="50%">@obj.Capacity</td>
                        <td width="50%">@obj.PinpointId</td>
                    </tr>
                }
            </tbody>
        </table>

    }
    else
    {
        <!--In case that the table is empty-->
        <p>There are no public events.</p>
    }
    @if (User.IsInRole("Admin"))
    {
        <div class="col-6 text-left">
            <a asp-controller="PublicEvents" asp-action="Create" class="btn btn-primary"> Create new public event.</a>
        </div>
    }

</div>

<script src="../js/site.js"></script>
<!--requesting google api using private api key-->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAHDadyFvmZMjr7kDdBJp1erOG8et2fvPU&callback=initMap"
        async></script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>