@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject RoleManager<IdentityRole> RoleManager

@model IEnumerable<MyPal.Models.PublicEvents>
@{
    ViewData["Title"] = "Map View";
}

<h1>This is where the map with the pinpoints should be displayed</h1>
<h1>When a user selects a specific pinpoint the list of PUBLIC events associated with that pinpoint should be displayed</h1>
<br />
<br />
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Public Events List</h2>
        </div>
    </div>

    <!--skipping some lines-->
    <br /><br />

    <!--Validation to check if the table has any content-->
    @if (Model.Count() > 0)
    {
        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Event Id
                    </th>

                    <th>
                        Event name
                    </th>

                    <th>
                        Event description
                    </th>

                    <th>
                        Start time
                    </th>

                    <th>
                        End time
                    </th>

                    <th>
                        Capacity
                    </th>

                    <th>
                        PinPoint id
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model)
                {
                    <tr>
                        <td width="30%">@obj.Id</td>
                        <td width="30%">@obj.Name</td>
                        <td width="40%">@obj.Description</td>
                        <td width="50%">@obj.StartTime</td>
                        <td width="50%">@obj.EndTime</td>
                        <td width="50%">@obj.Capacity</td>
                        <td width="50%">@obj.PinpointId</td>
                    </tr>
                }
            </tbody>
        </table>

    }
    else
    {
        <!--In case that the table is empty-->
        <p>There are no public events.</p>
    }
   @if (User.IsInRole("Admin")) { 
        <div class="col-6 text-left">
            <a asp-controller="PublicEvents" asp-action="Create" class="btn btn-primary"> Create new public event.</a>
        </div>
    }
    
</div>