@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model MyPal.Models.CollectionDataModel
@{
    ViewData["Title"] = "MyPal Dashboard";
}
<div class="container mb-5">
    <h1 class="text-primary mb-2">MyPal Dashboard</h1>
    <h4 class="text-secondary">Available Public Events</h4>
    @if (Model.PublicEventsList.Count() > 0)
    {
        <div class="row justify-content-around">
            @foreach (var obj in Model.PublicEventsList)
            {
                Model.Pinpoints = Model.PinpointsList.Find(pin => pin.Id == obj.PinpointId);
                <div class="card" style="width:24rem; padding: 20px; margin: 20px;">
                    <p class="text-dark">Event name: @obj.Name</p>
                    <p class="text-dark">Event description: @obj.Description</p>
                    <p class="text-dark">Start time: @obj.StartTime</p>
                    <p class="text-dark">End time: @obj.EndTime</p>
                    <p class="text-dark">End time: @obj.Capacity</p>
                    <p class="text-dark">Location: @Model.Pinpoints.Name</p>
                </div>

            }
        </div>
    }
    else
    {
        <!--In case that the table is empty-->
        <h6 class="text-secondary">There are no public events available at the moment. Please wait for an admin to add an upcoming public event.</h6>
    }
    @if (SignInManager.IsSignedIn(User))
    {

        <br>
        <h4 class="text-secondary">Available Private Events</h4>
        <div class="row justify-content-around">
            @if (Model.PrivateEventsList.Count() > 0)
            {


                @foreach (var obj in Model.PrivateEventsList)
                {
                    Model.Pinpoints = Model.PinpointsList.Find(pin => pin.Id == obj.PinpointId);
                    <div class="card" style="width:24rem; padding: 20px; margin: 20px;">
                        <p class="text-dark">Event name: @obj.Name</p>
                        <p class="text-dark">Event description: @obj.Description</p>
                        <p class="text-dark">Start time: @obj.StartTime</p>
                        <p class="text-dark">End time: @obj.EndTime</p>
                        <p class="text-dark">Location: @Model.Pinpoints.Name</p>
                    </div>
                }

            }
            else
            {
                <!--In case that the table is empty-->
                <h6 class="text-secondary">You have no upcoming private events. Add one from the <a class="text-secondary" asp-controller="PrivateEvents" asp-action="Index">calendar</a> section.</h6>
                <br>
            }
        </div>
    }
</div>
