
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model MyPal.Models.CollectionDataModel
@{
    ViewData["Title"] = "MyPal Dashboard";
}
<h1>MyPal Dashboard</h1>
<h2>Available Public Events</h2>
@if (Model.PublicEventsList.Count() > 0)
{
    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>
                    Event Id
                </th>

                <th>
                    Event name
                </th>

                <th>
                    Event description
                </th>

                <th>
                    Start time
                </th>

                <th>
                    End time
                </th>

                <th>
                    Capacity
                </th>

                <th>
                    PinPoint id
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model.PublicEventsList)
            {
                <tr>
                    <td width="30%">@obj.Id</td>
                    <td width="30%">@obj.Name</td>
                    <td width="40%">@obj.Description</td>
                    <td width="50%">@obj.StartTime</td>
                    <td width="50%">@obj.EndTime</td>
                    <td width="50%">@obj.Capacity</td>
                    <td width="50%">@obj.PinpointId</td>
                </tr>
            }
        </tbody>
    </table>

}
else
{
    <!--In case that the table is empty-->
    <p>There are no public events.</p>
}
@if (SignInManager.IsSignedIn(User))
{

<h2>Available Private Events</h2>
    @if (Model.PrivateEventsList.Count() > 0)
    {
        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Event Id
                    </th>

                    <th>
                        Event name
                    </th>

                    <th>
                        Event description
                    </th>

                    <th>
                        Start time
                    </th>

                    <th>
                        End time
                    </th>

                    <th>
                        PinPoint id
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model.PrivateEventsList)
                {
                    <tr>
                        <td width="30%">@obj.Id</td>
                        <td width="30%">@obj.Name</td>
                        <td width="40%">@obj.Description</td>
                        <td width="50%">@obj.StartTime</td>
                        <td width="50%">@obj.EndTime</td>
                        <td width="50%">@obj.PinpointId</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <!--In case that the table is empty-->
        <p>There are no private events.</p>
    }
}



@*<form asp-action="GetAllPrivateEvents" method="get">
    Choose your favorite subject:
    <button name="" type="submit" value="">Private Event</button>
</form>*@
