@{
    ViewData["Title"] = "Itinerary View";
}

@model Tuple<IEnumerable<MyPal.Models.PrivateEvents>, MyPal.Models.PrivateEvents>

@*Source: https://fullcalendar.io/docs/initialize-globals*@
<head>
    <meta charset="utf-8" />
    <link href="~/css/main.css" rel="stylesheet" />
    <link href="~/css/main.min.css" rel="stylesheet" />


    <script src="~/js/main.js"></script>
    <script src="~/js/main.min.js"></script>
    <script>

        document.addEventListener('DOMContentLoaded', function ()
        {
            var port = location.port;
            var url = "https://localhost:" + port + "/PrivateEvents";
            var calendarEl = document.getElementById('calendar');

            //This JS represents the fulcalendar.io. The css and JS that are new in their folders were all imported.
            var calendar = new FullCalendar.Calendar(calendarEl,
                {
                    initialView: 'dayGridMonth',
                    selectable: true,
                    dateClick: function (info) {
                        alert(info.dateStr)
                    }
                });

            var xhttp = new XMLHttpRequest();
            xhttp.open("GET", url + "/GetAllPrivateEvents", true);
            xhttp.responseType = "text";
            xhttp.send();

            xhttp.onreadystatechange = function () {
                if (this.readyState == 4, this.status == 200) {
                    if (this.responseText != "") {
                        pinpnt = JSON.parse(this.responseText);
                        console.log(pinpnt);
                        pinpnt.forEach(function (data, index)
                        {
                            calendar.addEvent({
                                title: data.name,
                                start: data.startTime,
                                end: data.endTime
                            });
                        });
                    }
                }
            };
           calendar.render();
        });

    </script>
</head>


<body> 
    <div id="calendar"></div>
    <div class="container p-3">
        <div class="row pt-4">
            <div class="col-6">
                <h2 class="text-primary" style="text-align:center">Itinerary</h2>
            </div>
        </div>

        <!--skipping some lines-->
        <br /><br />

        <div class="row pt-4">
            <div class="col-6">
                <h3 class="text-primary">Next event</h3>
            </div>
        </div>

        @if (!Model.Item2.Equals(null))
        {
            <table class="table table-bordered table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>
                            Event Id
                        </th>

                        <th>
                            Event name
                        </th>

                        <th>
                            Event description
                        </th>

                        <th>
                            Start time
                        </th>

                        <th>
                            End time
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if (DateTime.Now < Model.Item2.StartTime)
                    {
                        <tr>
                            <td width="30%">@Model.Item2.Id</td>
                            <td width="30%">@Model.Item2.Name</td>
                            <td width="40%">@Model.Item2.Description</td>
                            <td width="50%">@Model.Item2.StartTime</td>
                            <td width="50%">@Model.Item2.EndTime</td>
                        </tr>
                    }

                </tbody>
            </table>
        }
        else
        {
            <!--In case that the table is empty-->
            <p>There are no private events.</p>
        }

        <!--skipping some lines-->
        <br /><br />
        <div class="row pt-4">
            <div class="col-6">
                <h3 class="text-primary">All events</h3>
            </div>
        </div>
        <!--Validation to check if the table has any content-->
        @if (Model.Item1.Count() > 0)
        {

            @foreach (var obj in Model.Item1)
            {
                <table class="table table-bordered table-striped" style="width:100%">
                    <thead>
                        <tr>
                            <th>
                                Event Id
                            </th>

                            <th>
                                Event name
                            </th>

                            <th>
                                Event description
                            </th>

                            <th>
                                Start time
                            </th>

                            <th>
                                End time
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <!--IF statemnet to filter out irrelvant events-->
                        @if (DateTime.Now < obj.StartTime)
                        {
                            <tr>
                                <td width="30%">@obj.Id</td>
                                <td width="30%">@obj.Name</td>
                                <td width="40%">@obj.Description</td>
                                <td width="50%">@obj.StartTime</td>
                                <td width="50%">@obj.EndTime</td>
                            </tr>
                        }

                    </tbody>
                </table>
                <div style="margin:10px">
                    <a asp-controller="privateEvents" asp-route-Id="@obj.Id" asp-action="Edit" class="btn btn-success">
                        Edit
                    </a>
                    <a asp-controller="privateEvents" asp-route-Id="@obj.Id" asp-action="Delete" class="btn btn-info">
                        Delete
                    </a>
                </div>
            }
        }
        else
        {
            <!--In case that the table is empty-->
            <p>There are no private events.</p>
        }
        <div class="col-6 text-left">
            <a asp-controller="PrivateEvents" asp-action="Create" id="button" class="btn btn-secondary"> Create new private event.</a>
        </div>
    </div>
</body>

