@{
    ViewData["Title"] = "Itinerary View";
}

@model MyPal.Models.CollectionDataModel
@*Source: https://fullcalendar.io/docs/initialize-globals*@
<head>
    <meta charset="utf-8" />
    <link href="~/css/main.css" rel="stylesheet" />
    <link href="~/css/main.min.css" rel="stylesheet" />

    @*text to speech*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <script src="~/js/screenreader.js"></script>

    <script src="~/js/main.js"></script>
    <script src="~/js/main.min.js"></script>
    <script>

        document.addEventListener('DOMContentLoaded', function () {
            var port = location.port;
            var url = "https://localhost:" + port + "/PrivateEvents";
            var calendarEl = document.getElementById('calendar');

            //This JS represents the fulcalendar.io. The css and JS that are new in their folders were all imported.
            var calendar = new FullCalendar.Calendar(calendarEl,
                {
                    initialView: 'dayGridMonth',
                    selectable: true,
                    dateClick: function (info) {
                        alert(info.dateStr)
                    }
                });

            var xhttp = new XMLHttpRequest();
            xhttp.open("GET", url + "/GetAllPrivateEvents", true);
            xhttp.responseType = "text";
            xhttp.send();

            xhttp.onreadystatechange = function () {
                if (this.readyState == 4, this.status == 200) {
                    if (this.responseText != "") {
                        pinpnt = JSON.parse(this.responseText);
                        console.log(pinpnt);
                        pinpnt.forEach(function (data, index) {
                            calendar.addEvent({
                                title: data.name,
                                start: data.startTime,
                                end: data.endTime
                            });
                        });
                    }
                }
            };
            calendar.render();
        });

    </script>
</head>


<h1 class="text-primary mb-2">Calendar</h1>
<div id="calendar"></div>
<div class="container mb-5 p-3">
    <div class="row pt-4">
        <div class="col-12">
            <h1 class="text-secondary">Itinerary</h1>
        </div>
    </div>

    @if (Model.PrivateEvents != null)
    {
        Model.Pinpoints = Model.PinpointsList.Find(pin => pin.Id == Model.PrivateEvents.PinpointId);
        <div class="row pt-4">
            <div class="col-12">
                <h4 class="text-secondary">Next event</h4>
            </div>
        </div>
        <div class="row justify-content-around">
            <div class="card" style="width:24rem; padding: 20px; margin: 20px;">
                <p class="text-dark">Event name: @Model.PrivateEvents.Name</p>
                <p class="text-dark">Event description: @Model.PrivateEvents.Description</p>
                <p class="text-dark">Start time: @Model.PrivateEvents.StartTime</p>
                <p class="text-dark">End time: @Model.PrivateEvents.EndTime</p>
                <p class="text-dark">Location: @Model.Pinpoints.Name</p>

                <a asp-controller="PublicEvents" asp-action="Index" class="btn btn-dark w-100 mb-1 mt-1" onclick="passEventNavigation('@Model.Pinpoints.Name' , '@Model.Pinpoints.Id')">
                    Get Navigation for Event
                </a>
            </div>

        </div>

    }
    else
    {
        <!--In case that the table is empty-->
        <h6 class="text-secondary">You have no upcoming private events. Add one by clicking the button below.</h6>
    }

    <div class="row pt-4">
        <div class="col-12">
            <h4 class="text-secondary">All events</h4>
        </div>
    </div>
    <!--Validation to check if the table has any content-->
    <div class="row justify-content-around">
        @if (Model.PrivateEventsList.Count() > 0)
        {
            <div class="container">
                <a asp-controller="PrivateEvents" asp-route-button="startTime" asp-action="Index" class="btn btn-primary"> Sort by start time</a>
                <a asp-controller="PrivateEvents" asp-route-button="endTime" asp-action="Index" class="btn btn-primary"> Sort by end time</a>
            </div>

            @foreach (var obj in Model.PrivateEventsList)
            {
                Model.Pinpoints = Model.PinpointsList.Find(pin => pin.Id == obj.PinpointId);
                <div class="card" style="width:24rem; padding: 20px; margin: 20px;">
                    <p class="text-dark">Event name: @obj.Name</p>
                    <p class="text-dark">Event description: @obj.Description</p>
                    <p class="text-dark">Start time: @obj.StartTime</p>
                    <p class="text-dark">End time: @obj.EndTime</p>
                    <p class="text-dark">Location: @Model.Pinpoints.Name</p>
                    <div style="margin:10px">
                        <a asp-controller="privateEvents" asp-route-Id="@obj.Id" asp-action="Edit" class="btn btn-primary w-100 mb-1">
                            Edit
                        </a>
                        <a asp-controller="privateEvents" asp-route-Id="@obj.Id" asp-action="Delete" class="btn btn-dark w-100">
                            Delete
                        </a>
                        <a asp-controller="PublicEvents" asp-action="Index" class="btn btn-dark w-100 mb-1 mt-1" onclick="passEventNavigation('@Model.Pinpoints.Name' , '@Model.Pinpoints.Id')">
                            Get Navigation for Event
                        </a>
                    </div>
                </div>



            }
        }

        else
        {
            <!--In case that the table is empty-->
            <h6 class="text-secondary">You have no upcoming private events. Add one by clicking the button below.</h6>
        }
        <div>
            <a asp-controller="PrivateEvents" asp-action="Create" class="btn btn-primary" value=""> Create new private event.</a>
        </div>
    </div>
</div>
@*text to speech button*@
<a href="#" class="float" onclick="calendarPagescreenReader()">
    <i class="fa fa-volume-up" style="font-size: 40px; color: white"></i>
</a>
